{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<div class="">
    <form action="">
        {{ form_errors(post) }}

        {{ form_start(post) }}
            {{ form_row(post.titre) }}
            {{ form_row(post.dateLimite) }}
            {{ form_row(post.information) }}
        {{ form_end(post) }}
    </form>
</div>
<div class="">
    <h2>PostIt A faire</h2>
    {% for post in aFaire %}
        <div class="">
            <h3>{{ post.titre }}</h3>
            <p>{{ post.information }}</p>
            <span>{{ post.dateCreation|date('d/m/Y') }}</span>
            <span>{{ post.dateLimite|date('d/m/Y') }}</span>
        </div>
    {% endfor %}
</div>
<div class="">
    <h2>PostIt Terminer</h2>
    {% for post in terminer %}
        <div class="">
            <h3>{{ post.titre }}</h3>
            <p>{{ post.information }}</p>
            <span>{{ post.dateCreation|date('d/m/Y') }}</span>
            <span>{{ post.dateLimite|date('d/m/Y') }}</span>
        </div>
    {% endfor %}
</div>
{% endblock %}
