{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<div class="">
    <h2>PostIt A faire</h2>
    {% for post in aFaire %}
        <div class="">
            <h3>{{ post.titre }}</h3>
            {{ post.information|raw  }}
            <span>{{ post.dateCreation|date('d/m/Y') }}</span>
            <span>{{ post.dateLimite|date('d/m/Y') }}</span>
        </div>
    {% endfor %}
</div>
<div class="">
    <h2>PostIt Terminer</h2>
    {% for post in terminer %}
        <div class="">
            <h3>{{ post.titre }}</h3>
            <p>{{ post.information }}</p>
            <span>{{ post.dateCreation|date('d/m/Y') }}</span>
            <span>{{ post.dateLimite|date('d/m/Y') }}</span>
        </div>
    {% endfor %}
</div>
{% endblock %}
